{{#if modal.options.overlay}}
<div class="ember-imdt-modal-overlay" {{action 'close'}}>
</div>
{{/if}}
<div class="ember-imdt-modal-container">
  <div class="ember-imdt-modal-header">
    {{#if modal.options.titleTemplate}}
      {{modal.options.titleTemplate}}
    {{else}}
      <span class="ember-imdt-modal-title">
        {{modal.options.title}}
      </span>
      <button type="button" name="button"  {{action 'close'}}>
        <span>
          ×
        </span>
      </button>
    {{/if}}
  </div>
  <div class="ember-imdt-modal-body">
      {{#if modal.options.bodyTemplate}}
        {{partial modal.options.bodyTemplate}}
      {{else}}
        {{modal.options.body}}
      {{/if}}
  </div>
  <div class="ember-imdt-modal-footer">
    {{#if modal.options.footerTemplate}}
      {{partial modal.options.footerTemplate}}
    {{else}}
      <button type="button" name="button" {{action 'close'}}>Close</button>
    {{/if}}
  </div>
</div>
